.ariax-accordion-content-inner a {text-decoration-line:underline;text-underline-offset:3px;}
.ariax-accordion-content-inner a:hover {color:var(--foreground);}
.ariax-accordion-content-inner p:not(:last-child) {margin-bottom:calc(var(--ariax-spacing, .25rem) * 4);}
.ariax-accordion-trigger:focus-visible::after {border-color:var(--ring);content:"";}
.ariax-accordion-trigger [data-slot="accordion-trigger-icon"] {color:var(--muted-foreground);margin-inline-start:auto;width:calc(var(--ariax-spacing, .25rem) * 4);height:calc(var(--ariax-spacing, .25rem) * 4);}
