.ariax-attachment-media svg { pointer-events: none; }
.ariax-attachment-media svg:not([class*='size-']):not([data-slot='spinner']) { width:1rem; height:1rem; }
.ariax-attachment[data-size='xs'] .ariax-attachment-media svg:not([class*='size-']):not([data-slot='spinner']) {width:.875rem;height:.875rem;}
.ariax-attachment[data-orientation='vertical'] .ariax-attachment-media svg:not([class*='size-']):not([data-slot='spinner']):not(.ariax-attachment[data-size='xs'] *) {width:1.5rem;height:1.5rem;}
.ariax-attachment[data-orientation='vertical'] .ariax-attachment-media > [data-slot='spinner'] {width:1.5rem!important;height:1.5rem!important;}
.ariax-attachment-media[data-variant='image'] > img {aspect-ratio:1/1;width:100%;object-fit:cover;}
.ariax-attachment-group > [data-slot='attachment'] {flex:none;scroll-snap-align:start;}
.ariax-attachment-group::-webkit-scrollbar {display:none;}
