.ariax-breadcrumb-separator > svg {
  width: calc(var(--ariax-spacing, 0.25rem) * 3.5);
  height: calc(var(--ariax-spacing, 0.25rem) * 3.5);
}
.ariax-breadcrumb-ellipsis > svg {
  width: calc(var(--ariax-spacing, 0.25rem) * 4);
  height: calc(var(--ariax-spacing, 0.25rem) * 4);
}
