.item-example-avatar-group { display: flex; }
.item-example-avatar-group > :not(:last-child) { margin-inline-end: -.5rem; }
.item-example-avatar-group > [data-slot="avatar"] { box-shadow: 0 0 0 0 #0000, 0 0 0 0 #0000, 0 0 0 0 #0000, 0 0 0 2px var(--background), 0 0 0 0 #0000; filter: grayscale(100%); }
