.ariax-combobox-trigger svg:not([class*="size-"]),
.ariax-combobox-item svg:not([class*="size-"]) {
  width: calc(var(--ariax-spacing, 0.25rem) * 4);
  height: calc(var(--ariax-spacing, 0.25rem) * 4);
}
.ariax-combobox-item svg {
  pointer-events: none;
  flex-shrink: 0;
}
.ariax-combobox-item:not([data-variant="destructive"])[data-focused] *,
.ariax-combobox-item:not([data-variant="destructive"])[data-highlighted] * {
  color: var(--accent-foreground);
}
